@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Courgette|Gentium+Basic|Great+Vibes|Kaushan+Script');

.about header div {
    background: 
        linear-gradient(rgba(56, 90, 101, 0.81),  rgba(0, 0, 0, 0) 79%), 
        linear-gradient(0deg, rgb(243, 243, 243), rgba(0, 0, 0, 0) 50%), 
        url(../img/guitar.jpg) center / cover;
}

.homepage header div {
    background: 
        linear-gradient(rgba(129, 101, 101, 0.85), rgba(0, 0, 0, 0) 79%), 
        linear-gradient(0deg, rgb(243, 243, 243), rgba(0, 0, 0, 0) 50%), 
        url(../img/mount-rainier-at-sunset-cloud-fire-by-alan-howe.jpg) center / cover;
}
.portfolio header div {
    background: 
        linear-gradient(rgba(56, 90, 101, 0.81), rgba(0, 0, 0, 0) 79%), 
        linear-gradient(0deg, rgb(243, 243, 243), rgba(0, 0, 0, 0) 50%), 
        url(../img/dreamcatcher.jpg) center / cover;
}

.contact header div {
    background: 
        linear-gradient(rgba(56, 90, 101, 0.81), rgba(0, 0, 0, 0) 79%), 
        linear-gradient(0deg, rgb(243, 243, 243), rgba(0, 0, 0, 0) 50%), 
        url(../img/friendship.jpg) center / cover;
}

header {
    position: relative;
}

header div {
    height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -1em;
    margin-bottom: 1em;
}

body {
    background: url(../style-tile/img/fresh_snow.png);
    align-content: center; 
    padding: 1% 25%;
}

body p {
    font-family: 'Cormorant Garamond', serif;
    color: #1b0602;
    font-size: 0.88em;
    padding-left: 0;
    margin: 1em 0;
}

section {
    padding: .5em 0;
}

/* Classes */
.town, .jobs, dates {
    font-style: italic;
    padding-left: 0;
    margin-bottom: -0.625em;
}

.education {
    padding-left: 1em;
}

.bio h2 {
    padding-top: 0;
    padding-bottom: 0;
}

/* Imagery */
.profile-pic {
    height: auto;
    float: left;
    max-width: 10em;
    border-radius: 8%;
}

/* Navigation */
aside {
    position: fixed;
}

aside nav {
    position: relative;
    float: left;
    top: 0;
    left: -4em;
    margin-right: 1em;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/*12px / 16px = 0.75em*/
a {
    color: #ed852d;
    font-family: 'Gentium Basic', serif;
    font-size: 0.75em;
    padding: 0.1875em;
    margin: auto;
    text-decoration: none;
}

/* Active */
a:hover {
    color: #385a65;
}

a:active,
a:focus {
    background: #ed852d;
    color: #385a65;
}

aside img {
    width: 2.25em;
}

/* Icons */

footer {
    border-top: .1em black solid;
    position: relative;
    bottom: 0;
    padding: 1em;
    display: flex;
    justify-content: center;
}

/*12px / 16px = 0.75em*/
footer .icon {
    height: auto;
    width: 0.8em;
    margin-right: 0;
    align-self: center;
}

/* Headings */
h1, h2, h3, h4 {
    line-height: 25%;
    margin-top: 1%;
}

h1 {
    color: #fff;
    font-size: 2.5em;
    font-family: 'Great Vibes', cursive;
    margin: .8em;
}

h2 { 
    font-family: 'Courgette', cursive;
    color: #ed852d;
    margin: 0;
    padding: .25em 0;
}

h3 {
    font-family: 'Kaushan Script', cursive;
    color: #f7d26d;
}

h4, label, input, textarea {
    font-family: 'Gentium Basic', serif;
    color: #385a65;
    margin-bottom: 0;
    padding-top: 1%;
}

/* Lists */
ul {
    padding-left: 2em;
}

li {
    font-family: 'Cormorant Garamond', serif;
    color: #1b0602;
    font-size: 0.875em;
}

/*Homepage*/
.homepage p {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 2em;
}

logo img {
    position: absolute;
    top: .5em;
    right: 0;
    height: 3em;
    width: 3em;
    padding: .5em;
    
    line-height: .8;
    border-radius: 50%;
}

/*Portfolio*/
.portfolio main {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

figure {
    margin: .5em;
    width: 7em;
    flex: 1 0 auto;
}

/* Specific Gallery Styling. Have Fun! */
figure img {
    max-width: 100%;
    max-height: 90vh;
    border: none;
}

figure img:hover,
figure img:active,
figure img:focus {
    border: #f7d26d .35em solid;
    transition: border .25s;
}

figure p {
    text-align: center;
    margin: auto;
}

.thumb {
    justify-content: center;
}

/* Lightbox Overlay */
/* hide  */
.overlay {
    display: none;

    /* Overlay Styling   */
    background: #816565;
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
}

/* show */
.overlay:target {
    /* Flexbox Vertical & Horizontal Centering */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

/* Close Button  */
.overlay a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

/* Contact Form */
.contact main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contact main div {
    background: url(../img/dark_wood.png);
    padding: 2em;
    margin: 1em;
    width: 14em;
    align-self: center;
}

.contact div p {
    color: #fff;
    text-align: left;
    margin: 1em;
    padding-bottom: .5em;
}

label,
input,
textarea {
    display: block;
    margin: .5em;
}

/* Score: 0,0,1,1 */
input[type=submit] {
    background: #816565;
    border: none;
    border-radius: .25em;
    color: #fff;
    padding: .5em;
    margin-top: 1em;
}

input:focus,
textarea:focus {
    background: #ed852d;
    transition: background .5s;
}

input:hover,
textarea:hover {
    border: #f7d26d solid;
}

/* 4k Desktop */
@media screen and ( min-width: 90em ) {

    body {
        max-width: 65%;
        padding: 0 25%;
        font-size: 2.2em;
    }
    
    body aside {
        padding-top: 1%;
    }
    
    .tablet,
    .mobile {
        display: none;
    }

}

/* Laptop */
@media screen and ( max-width: 90em ) {

    body {
        padding: 0 15%;
        font-size: 1.2em;
    }
    
    body aside {
        padding-top: 1%;
    }
    
    .desktop,
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

}

/* Laptop Tablet*/
@media screen and ( max-width: 48em ) {

    body {
        font-size: .9em;
    }
    
    .desktop,
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

}


/* Mobile */
@media screen and ( max-width: 30em ) {

    body {
        padding: 0 5%;
    }
    
    header div {
        margin: 0 -2em;
    }
    
    aside nav {
        position: relative;
        flex-direction: row;
        padding: 0 3.125em;
        font-size: 0.1em;
    }
    
    nav a {
        padding: .35em;
    }
    
    .icon-home {
        filter: brightness(10);
    }

    .desktop,
    .tablet {
        display: none;
    }

    .mobile {
        display: block;
    }

}
