/* Contact Form */
.contact {
    
    header div {
        margin: 0;
        height: 7em;
        
        h1 {
            margin: 2em 0 0;
        }
    }
    
    div p {
        color: $primary-color;
        text-align: left;
        padding-left: 0;
        padding-bottom: .5em;
    }
    
    main div {
            padding: 1em;
            margin: 1em;
            width: 14em;
            align-self: center;
    }
}

label {
    display: block;
    margin: .5em;
}

input,
textarea {
    display: block;
    margin: .5em;
    border: transparent solid;
    color: #000;
    font-family: 'Cormorant Garamond', serif;
}

/* Score: 0,0,1,1 */
input[type=submit] {
    background: $purple;
    border: transparent solid;
    border-radius: .25em;
    color: $primary-color;
    padding: .5em;
    margin-top: 1em;
    margin-bottom: .5em;
}

input:focus,
textarea:focus {
    background: $yellow;
    transition: background .5s;
}

input:hover,
textarea:hover {
    border: $second-color solid;
}