/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

    
    body {
        
        h1 { 
            font-size: 2em;
        }
        
        main {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 0 2em;
            width: 95%;

            section {
                padding: 0 1em .5em;
            }

            h2, h4, label, input, textarea {
                font-size: 1.25em;
            }

            p, li {
                font-weight: 700;
                font-size: 1em;
            }
        }
    }
    
    aside nav {
        position: relative;
        flex-direction: row;
        padding: 0 4.25em;
        font-size: 1em;
        
        a {
            padding: .35em;
        }
    }
    
    .profile-pic:hover {
        transform: none;
    }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
    
    body {
        padding: 1% 5%;
        
        h1 {
            font-size: 2.5em;
        }
        
        main {
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
            
            h2 {
                font-size: 1.5em;
            }
            
            h4, label, input, textarea {
                font-size: 1.25em;
            }
        }
        
        aside nav {
            padding: 0 3.25em;
        }
    }
    
    .contact main div {
        padding: 0;
        width: 12em;
    }
    
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
    
     body {
        padding: 0 15%;

        aside {
            padding-top: .5%;
        }
         
        main {
            h2 {
                font-size: 1.75em;
            }
            
            h4, label, input, textarea {
                font-size: 1.5em;
            }
            
            p, li {
                font-size: 1.25em;
            }
        }
        
    }
    
    .profile-pic {
        transform: scale(1);
        transition: transform .5s;
    }

    .profile-pic:hover {
        transform: scale(2);
    }

}

/* 4k/TV */
@media screen and (min-width: 120em) { 
    
     body {
        padding: 0 25%;

        aside {
            padding-top: .5%;
        }

        h1 {
            font-size: 3.5em;
        }

        .profile-pic {
            max-width: 20em;
        }
         
        header div {
            height: 22em;
        }
         
        main {
            
            h2 {
                font-size: 2.75em;
            }
            
            h4, label, input, textarea {
                font-size: 2.5em;
            }
            
            p, li {
                font-size: 2.25em;
            }
        }
         
         aside nav {
             padding: 0;
         }
         
         nav a {
             font-size: 1.5em;
         }
        
    }

}