/*Portfolio*/
.portfolio main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

figure {
    margin: .5em;
    width: 7em;
    flex: 1 0 auto;
    
    img {
        max-width: 100%;
        max-height: 90vh;
        border: transparent .35em solid;

        transition: border .25s;
    }

    a {
        padding: 0;
    }

    p {
        margin: auto;
        padding: 0 .5em;
    }
    
    img:hover,
    img:active,
    img:focus {
        border: #f7d26d .35em solid;
    }
    
}
