@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Great+Vibes|Kaushan+Script|Dosis|Satisfy');

/* Headings */
h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    margin: .8em;
}

h2 { 
    font-family: 'Kaushan Script', cursive;
    color: $blue;
    padding: .5em 0 0;
}

h4, label, input, textarea {
    font-family: 'Satisfy', cursive;
    color: $second-color;
    margin: .25em 0 0;
    font-size: 1.2em;
}

body {
    p, li {
        font-family: 'Cormorant Garamond', serif;
        color: #fff;
        font-size: 1.1em;
    }
    
    p {
        padding-left: 1em;
        margin: 1em 0;
    }
}

/* Lists */
ul {
    padding-left: 2em;
}