$primary-color: #003200;
$second-color: #009900;
$lime: #00ff00;
$yellow: #fff000;
$green: #009900;

@import 'normalize';
@import 'typography';
@import 'contact';
@import 'media-queries';

* {
    box-sizing: border-box;
}

/* Classes */
.town, .jobs, dates {
    font-style: italic;
    padding-left: 0;
    margin-bottom: -0.625em;
}

.education {
    padding-left: 1em;
}

// Semantic Overrides
.no-pad {
    padding: 0;
    width: 100vw;
}

.text.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.top.shade::before {
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5) 10%, rgba(0,0,0,.1) 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-image {
    background: center / cover url("../img/computer.jpg");
    height: 100vh;
    position: relative;
}

// Semantic Override
.ui.secondary.inverted.pointing.menu {
    border-color: rgba(0,0,0,0);
}