/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #003200;
}
.color-2 {
    background: #009900;
}
.color-3 {
    background: #00ff00;
}
.color-4 {
    background: #fff000;
}
.color-5 {
    background: #fff;
}

/* Textures or Patterns*/
.pattern-1 {
    background: url(../img/fresh_snow.png);
}
.pattern-2 {
    background: url(../img/concrete_seamless.png);
}
.pattern-3 {
    background: url(../img/footer_lodyas.png);
}
.pattern-4 {
    background: url(../img/dark_wall.png);
}
.pattern-5 {
    background: url(../img/dark_wood.png);
}


/* Imagery */

/* Icons */


/* Navigation */
a:link,
a:visited {
    color: #003200;
}

a:focus {
    background: #00ff00;
}

a:hover {
    background: #fff000;
    margin-left: 4px;
}

a:active {
    background: #00ff00;
}

button {
    background: #003200;
    color: #00ff00;
}

/* Typography */
a {
    font-family: 'Courier New', serif;
}

h1 {
    font-family: 'Consolas', sans-serif;
    color: #00ff00;
}

h2 { 
    font-family: 'Courier New', serif;
    color: #009900;
}

h3 {
    font-family: 'Gill Sans', sans-serif;
    color: #fff000;
}

h4 {
    font-style: bold;
    font-family: 'Gentium Basic', serif;
    color: #000;
}

p {
    font-family: 'Andale Mono', serif;
    color: #003200;
}